/* .message{
    display: flex;
    gap: 20px;
    justify-content: center;
}
#buttons{
    display: flex;
    gap: 10px;
    flex-direction: row;
    height: 20px;
    border: 1px solid red;
    margin-top: 59px;
} */

